---
generic-service:
  replicaCount: 2

  scheduledDowntime:
    enabled: true
    startup: '10 6 * * 1-5' # Start at 6.10am UTC Monday-Friday
    shutdown: '34 21 * * 1-5' # Stop at 9.34pm UTC Monday-Friday

  ingress:
    host: prisoner-location-api-dev.prison.service.justice.gov.uk
    className: modsec-non-prod

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    API_BASE_URL_HMPPS_AUTH: https://sign-in-dev.hmpps.service.justice.gov.uk/auth
    SPRINGDOC_API-DOCS_ENABLED: "true"
    SPRINGDOC_SWAGGER-UI_ENABLED: "true"

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: syscon-nonprod
